body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ffcc00;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffcc00;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color:#ebd024;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcc00;
    position: relative;
    bottom: 0;
    width: 100%;

}
.header-image {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px; /* Para bordas arredondadas */
}

